<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cabinet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>16D72C46F09F5A1C5637ABDDE4294E84DFC9F10A</string>
				<key>dateExpires</key>
				<string>2022/9/13</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>16D72C46F09F5A1C5637ABDDE4294E84DFC9F10A</string>
						<key>dateExpires</key>
						<string>2022/9/13</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVG8QY6QFT</string>
						<key>name</key>
						<string>Weiyang Wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>16D72C46F09F5A1C5637ABDDE4294E84DFC9F10A</string>
						<key>dateExpires</key>
						<string>2022/9/13</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVG8QY6QFT</string>
						<key>name</key>
						<string>Weiyang Wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>16D72C46F09F5A1C5637ABDDE4294E84DFC9F10A</string>
						<key>dateExpires</key>
						<string>2022/9/13</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVG8QY6QFT</string>
						<key>name</key>
						<string>Weiyang Wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>16D72C46F09F5A1C5637ABDDE4294E84DFC9F10A</string>
						<key>dateExpires</key>
						<string>2022/9/13</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PanModal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVG8QY6QFT</string>
						<key>name</key>
						<string>Weiyang Wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>16D72C46F09F5A1C5637ABDDE4294E84DFC9F10A</string>
						<key>dateExpires</key>
						<string>2022/9/13</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>EVG8QY6QFT.com.evan.cabinet.Cabinet-Widget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>EVG8QY6QFT</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>EVG8QY6QFT.com.evan.cabinet.Cabinet-Widget</string>
						</array>
					</dict>
					<key>name</key>
					<string>cabinet widgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e7b4a65f-c315-40a9-b3df-a87b8e591f7c</string>
						<key>name</key>
						<string>cabinet-widget-adhoc-dis</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVG8QY6QFT</string>
						<key>name</key>
						<string>Weiyang Wang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EVG8QY6QFT.com.evan.cabinet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>EVG8QY6QFT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>EVG8QY6QFT.com.evan.cabinet</string>
				</array>
			</dict>
			<key>name</key>
			<string>cabinet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4155d763-b484-4f86-a1e7-e1aca2978824</string>
				<key>name</key>
				<string>cabinet-adhoc-dis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EVG8QY6QFT</string>
				<key>name</key>
				<string>Weiyang Wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
